@charset "UTF-8";

h2, h3 {
	font-weight: bolder;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	margin: 5px 5px 5px 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 13pt;
}

h5 {
	margin: 5px 5px 5px 0px;
	font-size: 9pt;
}

hr.tag-hr {
	width: 50%;
	margin: 5px 5px 5px 0px;
}

section#diretoria img {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

/* SECTION - DIRETORIA */

section#diretoria {
	width: 100%;
	height: 100%;
}

div#diretoria-texto {
	width: 100%;
	height: 100%;
	padding: 60px 30px 30px;
	background-color: #fff;
	color: #000;
}

div#diretoria-texto h2 {
	font-size: 20pt;
}

div#diretoria-texto p {
	text-align: justify;
	font-size: 13pt;
}

/* DIV - DIRETORIA EXECUTIVA */

div#diretoria-executiva {
	width: 100%;
	height: 100%;
	padding: 30px;
	background-color: #0000FF;
	color: #000;
}

div#diretoria-executiva h3 {
	font-size: 18pt;
	color: #fff;
}

div#diretoria-executiva div.dir-executiva {
	width: 24%;
	display: inline-block;
	position: relative;
	left: 150px;
	background-color: #fff;
	margin: 10px;
	padding: 30px 20px 30px 55px;
}

img#beatriz {
	object-position: bottom right;
}

img#tarsila {
	object-position: top;
}

img#luisa {
	object-position: bottom left;
}

img#jamily {
	object-position: top;
}

/* DIV - DIRETORIA DE BASE */

div#diretoria-base {
	width: 100%;
	height: 100%;
	padding: 30px;
	background-color: #000;
	color: #000;
}

div#diretoria-base h3 {
	font-size: 18pt;
	color: #fff;
}

div#diretoria-base div.dir-base {
	width: 20%;
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 100px;
	background-color: #fff;
	margin: 10px;
	padding: 40px 30px;
}

div#diretoria-base div.dir-base-2 {
	width: 20%;
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 300px;
}

img#niaggo {
	object-position: top;
}