@charset "UTF-8";

h2, h3 {
	font-weight: bolder;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	text-align: center;
}

h4 {
	margin: 5px 5px 5px 0px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	font-size: 15pt;
}

h5 {
	margin: 5px 5px 5px 0px;
	font-size: 13pt;
}

hr.tag-hr {
	width: 50%;
	margin: 5px 5px 5px 0px;
}



/* SECTION - DIRETORIA */

section#diretoria {
	width: 100%;
	height: 100%;
}

div#diretoria-texto {
	width: 100%;
	height: 100%;
	padding: 60px 30px 30px;
	background-color: #fff;
	color: #000;
}

div#diretoria-texto h2 {
	font-size: 18pt;
}

div#diretoria-texto p {
	text-align: justify;
	font-size: 13pt;
}

/* DIV - DIRETORIA EXECUTIVA */

div#diretoria-executiva {
	width: 100%;
	height: 100%;
	padding: 30px;
	background-color: #000;
	color: #fff;
}

div#diretoria-executiva h3 {
	font-size: 16pt;
}

div#diretoria-executiva div.dir-executiva {
	width: 30%;
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 150px;
}

/* DIV - DIRETORIA DE BASE */

div#diretoria-base {
	width: 100%;
	height: 100%;
	padding: 30px;
}

div#div#diretoria-base h3 {
	font-size: 16pt;
}

div#diretoria-base div.dir-base {
	width: 20%;
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 150px;
}

div#diretoria-base div.dir-base-2 {
	width: 20%;
	display: inline-block;
	padding: 10px;
	position: relative;
	left: 300px;
}